/*
* This file defines the official email format for resetting password
*/

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css" type="text/css" />
</head>

<body>
<div id='container'>
    <h2>Hi,</h2>
    <br/>
    <p>We have recently received a request to reset your password.</p>
    <p>If you did not make this request, you can safely disregard this email</p>
    <a class="btn btn-default" href="localhost:9000/newpwd" role="button">Reset Password</a>
    <br/>
    <p>Thanks,</p>
    <p>Your Team at GKB</p>
</div>
</body>

</html>
